.board {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}
.row {
  display: flex;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
