.board {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: auto;
}
.row {
  display: flex;
}
.message-container {
  display: flex;
  flex-direction: row;
}
.message {
  justify-content: left;
}
.btn {
  margin-left: 1rem;
  border-radius: 1rem;
  color: dodgerblue;
}
.btn:hover {
  background-color: lightblue;
}
